@font-face {
  font-family: "IstokWeb";
  src: url("../cssMemSlider/assets/fonts/IstokWeb-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}

main {
  width: 60vw;
  height: 96vh;
  margin: 0 auto;
 /*  background-color: bisque; */
}

.slide_1 {
  background-color: rgb(246, 246, 156);
  width: 100%;
}

.slide_2 {
  background-color: rgb(43, 150, 226);
  width: 100%;
}

.slide_3 {
  background-color: rgb(121, 211, 118);
  width: 100%;
}

.slide_4 {
  background-color: rgb(159, 124, 181);
  width: 100%;
}

ul {
  list-style-type: none;
}

.view-port {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  transition: 0.3s;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  
}
img{
  height: 80vh;
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p{
  margin-top: 2%;
  margin-left: 1%;
  font-family: "IstokWeb";
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  /* line-height: 8px;
  text-align: center; */
  
}

.controls {
  display: flex;
  width: 99%;
  padding: 0;
  justify-content: flex-end;
  
}

.controls>li {
  width: 1.5vw;
  height: 1.5vw;
  z-index: 10;
  margin: -11vh 0.5vw 0;  
  
}

.controls > li > a {
  display: block;
  width: 2vw;
  height: 2vw;
  padding: 0;
  border-radius: 100%;
  box-sizing: border-box; 
  background-color: whitesmoke;
}

.controls > li+li > a {
  background-color: rgb(18, 18, 18);
}

#slide_1:target ~ .view-port > .slider {
  transform: translateX(0%);
}
#slide_2:target ~ .view-port > .slider {
  transform: translateX(-100%);
}
#slide_3:target ~ .view-port > .slider {
  transform: translateX(-200%);
}
#slide_4:target ~ .view-port > .slider {
  transform: translateX(-300%);
}


main>.anchor:target ~ .controls > li > a {
  background-color: rgb(18, 18, 18);
}

#slide_1:target ~ .controls #ctrl_slide_1 {
  background-color: white;
}
#slide_2:target ~ .controls #ctrl_slide_2 {
  background-color:white;
}
#slide_3:target ~ .controls #ctrl_slide_3 {
  background-color: white;
}
#slide_4:target ~ .controls #ctrl_slide_4 {
  background-color: white;
}
