@font-face {
  font-family: "IstokWeb";
  src: url("../cssMemSlider/assets/fonts/IstokWeb-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}

main {
  width: 70vw;
  height: 96vh;
  margin: 0 auto;
}

.slide_1 {
  background-color: rgb(246, 246, 156);
  width: 100%;
}

.slide_2 {
  background-color: rgb(43, 150, 226);
  width: 100%;
}

.slide_3 {
  background-color: rgb(121, 211, 118);
  width: 100%;
}

.slide_4 {
  background-color: rgb(159, 124, 181);
  width: 100%;
}

ul {
  list-style-type: none;
}

.view-port {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  transition: 0.4s;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  
}
.img-wrapper{
  min-width: 45vw;
  height: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img{
  max-width: 98%; 
  max-height: 80vh;
  margin-top: 1vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
p{
  margin-top: 3.4vh;
  margin-left: 1%;
  font-family: "IstokWeb";
  font-style:normal;
  font-weight: 500;
  font-size: 2em;
  text-transform:uppercase;
}

.controls {
  display: flex;
  width: 99%;
  padding: 0;
  justify-content: flex-end;
}

.controls>li {
  width: 3rem;
  height: 3rem;
  z-index: 10;
  margin-top: -14.5vh;
}

.controls > li > a {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}

.controls > li > a > span {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: white;
}

.controls > li+li > a > span {  
  background-color: rgb(18, 18, 18);
}

#slide_1:target ~ .view-port > .slider {
  transform: translateX(0%);
}
#slide_2:target ~ .view-port > .slider {
  transform: translateX(-100%);
}
#slide_3:target ~ .view-port > .slider {
  transform: translateX(-200%);
}
#slide_4:target ~ .view-port > .slider {
  transform: translateX(-300%);
}

.controls > li > a:hover > span {
  transform: scale(1.15);
}
.controls > li > a:active > span {
  box-shadow: 0 0 0.3em 0 #515151 inset, 0 0 0.3em 0.15em #3f3f3f;
}

main>.anchor:target ~ .controls > li > a > span {
  background-color: rgb(18, 18, 18);
}

#slide_1:target ~ .controls #ctrl_slide_1 > span {
  background-color: white;
}
#slide_2:target ~ .controls #ctrl_slide_2 > span {
  background-color:white;
}
#slide_3:target ~ .controls #ctrl_slide_3 > span {
  background-color: white;
}
#slide_4:target ~ .controls #ctrl_slide_4 > span {
  background-color: white;
}

@media (max-width: 768px){
  main {
    width: 98vw;
    height: 96vh;
  }
  
  p{
    font-size: 1.6em;
    margin-top: 9vh;
    
  }
  .controls>li {
    margin: -15vh 0.5vw 0;  
  }
  .controls {
    justify-content: center;
  }
} 
