html {
  scroll-behavior: smooth;
}

main {
  width: 80vw;
  height: 96vh;
  margin: 0 auto;
  background-color: bisque;
}

.slide_1 {
  background-color: blueviolet;
  width: 100%;
}

.slide_2 {
  background-color: rgb(43, 150, 226);
  width: 100%;
}

.slide_3 {
  background-color: rgb(197, 157, 234);
  width: 100%;
}

.slide_4 {
  background-color: rgb(234, 98, 216);
  width: 100%;
}

ul {
  list-style-type: none;
}

.view-port {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  transition: 0.3s;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}

p{
  margin-top: 51.6%;
}

.controls {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: flex-end;
}

.controls>li {
  width: 2vw;
  height: 2vw;
  z-index: 10;
  margin: -8vh 0.5vw 0;  
}

.controls > li > a {
  display: block;
  width: 2vw;
  height: 2vw;
  padding: 0;
  border-radius: 100%;
  box-sizing: border-box; 
  background-color: rgb(115, 255, 0);
}

.controls > li+li > a {
  background-color: grey;
}

#slide_1:target ~ .view-port > .slider {
  transform: translateX(0%);
}
#slide_2:target ~ .view-port > .slider {
  transform: translateX(-100%);
}
#slide_3:target ~ .view-port > .slider {
  transform: translateX(-200%);
}
#slide_4:target ~ .view-port > .slider {
  transform: translateX(-300%);
}


main>.anchor:target ~ .controls > li > a {
  background-color: grey;
}

#slide_1:target ~ .controls #ctrl_slide_1 {
  background-color: rgb(115, 255, 0);
}
#slide_2:target ~ .controls #ctrl_slide_2 {
  background-color: rgb(115, 255, 0);
}
#slide_3:target ~ .controls #ctrl_slide_3 {
  background-color: rgb(115, 255, 0);
}
#slide_4:target ~ .controls #ctrl_slide_4 {
  background-color: rgb(115, 255, 0);
}
